<h1> Welcome {{ user.FirstName }} {{ user.MiddleName }} {{user.LastName}} </h1>
{% if not has_applied %}
    <a href = "{% url 'application_form' %}"> <button id = "apply_for_passport_button"> Apply For Passport </button></a>
{% endif %}

{% if message %} 
    <h3> {{ message }} </h3>
{% endif %}

{% if status %}
<h3>  You have applied, your status is as follows {{ user.Id}}  </h3>
<h2> {{ status }} </h2>
{% endif %}

<a href = "{% url 'logout' %} "> <button id = "logout_button"> logout </button>
